	<p> Here's all the latest information on your creature </p> <br>
	<div class = "creature_details">
		<ul>
        Name: <%= @creature.name %> <br>
        Description: <%= @creature.description %> <br>
    	</ul>
    </div>